body{
    background-color: rgb(67, 0, 67);
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: center;
    background-color: white;
    padding: 20px;
}

input{
    margin-bottom: 10px;
    width: min-content;
}

button{
    margin-bottom: 10px;
    width: fit-content;
}

.trem{
    width: 20px;
}

div{
    display: flex;
}