*{
    font-family: arial;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(64, 16, 109);
}

main{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

input{
    margin-bottom: 10px;
}

button{
    margin-bottom: 10px;
}

.Cartaz img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#res{
    display: flex;
    flex-wrap: wrap;
}

.Cartaz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
